/* Colors */

:root {
  /* ### Primary */

  --Marine-blue: hsl(213, 96%, 18%);
  --Purplish-blue: hsl(243, 100%, 62%);
  --Pastel-blue: hsl(228, 100%, 84%);
  --Light-blue: hsl(206, 94%, 87%);
  --Strawberry-red: hsl(354, 84%, 57%);

  /* ### Neutral */

  --Cool-gray: hsl(231, 11%, 63%);
  --Light-gray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster: hsl(231, 100%, 99%);
  --White: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  background-color: var(--Magnolia);
}

.title {
  color: var(--Marine-blue);
}

.text {
  color: var(--Cool-gray);
  line-height: 1.5em;
  font-size: 1.1rem;
}

label {
  color: var(--Marine-blue);
  font-weight: 500;
}

.input {
  height: 40px;
  border: 1px solid var(--Cool-gray);
  border-radius: 5px;
  padding: 15px;
  font-size: 0.9rem;
}

input[type="radio"] {
  visibility: hidden;
  height: 0;
  width: 0;
}

.radio-lbl {
  padding: 10px 15px;
  height: 70px;
  display: flex;
  align-items: flex-start;
  gap: 15px;
  border: 1px solid var(--Cool-gray);
  border-radius: 5px;
}

.radio-lbl span {
  color: var(--Cool-gray);
  font-size: 0.9rem;
}

input[type="radio"]:checked + label {
  border: 1px solid var(--Purplish-blue);
}

.side-bar-mob {
  width: 100%;
}

.form {
  position: relative;
  width: 350px;
  margin: 0 auto;
  top: -90px;
  background-color: var(--White);
  display: flex;
  flex-direction: column;
  padding: 25px;
  border-radius: 10px;
  gap: 15px;
  justify-content: center;
  box-shadow: 10px 11px 21px 1px rgba(128, 119, 119, 0.75);
  -webkit-box-shadow: 10px 11px 21px 1px rgba(128, 119, 119, 0.75);
  -moz-box-shadow: 10px 11px 21px 1px rgba(128, 119, 119, 0.75);
}

.links-wrapper {
  display: flex;
  justify-content: space-around;
}

.next-page-btn {
  text-decoration: none;
  background-color: var(--Marine-blue);
  color: var(--White);
  padding: 10px 20px;
  border-radius: 5px;
}

.switch-btn {
  margin-top: 20px;
  border: none;
  background-color: transparent;
  color: var(--Marine-blue);
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

.next-page-btn-page-one {
  margin-left: auto;
  margin-right: 10%;
  display: block;
  width: 109px;
  text-decoration: none;
  background-color: var(--Marine-blue);
  color: var(--White);
  padding: 10px 20px;
  border-radius: 5px;
}

.checkbox-wrapper {
  display: flex;
  justify-content: space-between;
}

.checkbox-wrapper {
  padding: 10px 15px;
  height: 70px;
  display: flex;
  align-items: center;
  gap: 15px;
  border: 1px solid var(--Cool-gray);
  border-radius: 5px;
}

.info {
  color: var(--Cool-gray);
  font-size: 0.9rem;
}

.price {
  color: var(--Purplish-blue);
  font-size: 0.8rem;
  font-weight: 500;
}
